body{
    text-align: center;
    color: white;
    background-color: rgb(88, 88, 88);
    font-size: 20px;
}

select#tabuada{
    color: white;
    background-color: rgb(56, 56, 56);
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
    padding: 18px;
}
a{
    color: rgb(54, 185, 245);
    font-style: italic;
}
#botao{
    font-size: 16px;
    border-radius: 10%;
}
select {
    overflow-y: auto;
}

section{
    background-color: rgb(70, 70, 70);
    width: 500px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.13);
    padding-bottom: 10px;
}

input#num{
    border-radius: 40px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

input#botao{
    border-radius: 30px;
    cursor:pointer;
    border: none;
    text-align: center;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.226);
    width: 100px;
    height: 30px;



}
p#titulo{
    padding-top: 10px;
}